@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Icons */
.edit-icon {
  background-image: url("assets/EditIcon.svg");
}

.edit-icon:hover {
  background-image: url("assets/EditIconHover.svg");
}

.delete-icon {
  background-image: url("assets/DeleteIcon.svg");
}

.delete-icon:hover {
  background-image: url("assets/DeleteIconHover.svg");
}

button {
  background-repeat: no-repeat;
}
